<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>
                <h4 class="modal-title" translate>Thank you for registering with Eglé!</h4>
            </div>
            <div class="modal-body" translate>
                Your account has been created and a verification email has been sent to your registered email address.<br><br><strong>Please click on the verification link included in the email to activate your account</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();">OK</button>
            </div>
        </div>  
    </div>
</div>