.DS_Store
._.DS_Store

*.seed
*.log
*.dat
*.out
*.pid
*.gz

server/node_modules
server/config/server.json
server/dump.rdb
signalmaster/node_modules
signalmaster/.jshint*
signalmaster/dev_config.json
server/public/bower_components/
server/audit-client
server/public/files/*
server/tmp/*

