<div class="panel panel-default card" style="border: solid #fff 2px;">
    <form data-ng-submit="answer();">
        <div class="panel-heading" style="padding:0;">
            <h3 class="panel-title">
                <button type="button" class="close" data-ng-click="skip('meal');"><i class="mdi-navigation-close"></i></button>
                <span>{{title}}</span>
            </h3>
        </div>
        <div class="panel-body" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-sm-offset-3 col-sm-6 icons-group-selected" data-ng-repeat="button in radio.buttons">
                <div class="row">
                    <div class="col-xs-1" style="padding-left:0;">
                        <div data-ng-style="button.img" style="position: absolute;height: 53px;width: 32px;"></div>
                    </div>
                    <div class="col-xs-11" style="padding-right:0;height: 55px;">
                        <div class="row">
                            <div class="col-xs-7">
                                <h4 style="margin-bottom: 0px;margin-top:2px;">{{button.title}}</h4>
                            </div>
                            <div class="col-xs-5 text-right">
                                <h5 class="text-muted" style="margin-top: 5px;margin-bottom: 5px;">{{button.desc}}</h5>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="row text-center">
                                <div style="display: inline-block;">
                                    <strong class="pull-left" style="margin-right: 10px;">—</strong>
                                    <div data-ng-repeat="level in radio.levels" style="padding: 0;float: left;margin: 0;">
                                        <input type="radio" name="{{button.type}}" data-ng-value="level" data-ng-model="button.value"
                                               data-ng-class="{'marginRight15': !$last}" data-ng-click="reset(button);">
                                    </div>
                                    <strong class="pull-left" style="margin-left: 10px;">+</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="col-sm-12" style="margin-top: 0;margin-bottom: 0;" data-ng-if="!$last">
            </div>
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('meal');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit"
                    data-ng-disabled="!radio.buttons[0].value && !radio.buttons[1].value && !radio.buttons[2].value" translate>Validate</button>
        </div>
    </form>
</div>