<div class="hc-breadcrumb">
    <a ui-sref="home.settings.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Settings</a> 
    <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Password</a>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-dismissable alert-{{alert.type}} widgetAlert widgetAlert-sm" data-ng-repeat="alert in alerts">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{alert.title}}</strong> {{alert.msg}}
        </div>
        <p translate>Use at least 6 characters</p>
        <form class="form-horizontal" name="form" data-ng-submit="changePassword(form);">
            <fieldset>
                <div class="col-sm-offset-1 col-sm-9" style="float: none;">
                    <div class="form-group">
                        <label for="oldPassword" class="col-xs-4 control-label" translate>Current</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" id="oldPassword" data-ng-model="$parent.oldPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-xs-4 control-label" translate>New</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   data-ng-minlength="6" data-ng-model="$parent.newPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirmation" class="col-xs-4 control-label" translate>Re-type new</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" id="newPasswordConfirmation"  name="newPasswordConfirmation"
                                   data-ng-minlength="6" data-ng-model="$parent.newPasswordConfirmation" required>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-default" ui-sref="home.settings.main" translate>Cancel</a>
                    <button type="submit" class="btn btn-primary" translate>Change</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>